body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

/* CSS to deal with constraint validation styles */
input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid green;
}

.nav-bar{
  height: 60px;
  padding-top: 8px;
}

.nav-bar a{
  color: black;
  text-decoration: none;
}

.nav-bar ul{
  text-align: left;
}

.nav-bar li{
  display: inline-block;
}

.nav-bar li a{
  text-decoration: none;
  color: black;
}

.nav-bar li a::after{
  content: "";
  display: block;
  width: 0px;
  margin: 0 auto 0 0;
  height: 2px;
  border-radius: 2px;
  background: orange;
  transition: width 0.5s ease-out;
}

.nav-bar li a:hover::after{
  width: 100%;
}